/* VARIABLES */
body {
  /* Color */
  --primaryColor: #f79543;
  --secondaryColor: #757575;
  --primaryColorOpaque: #fff9f4;

  /* Font */
  --titleFont: "Roboto Mono", monospace;
  --primaryFont: "Roboto", sans-serif;

  /* Space */
  --xs: 1rem;
  --s: 1.5rem;
  --m: 2rem;
  --l: 3rem;
  --xl: 5rem;
  --xxl: 6rem;
  --xxxl: 15rem;

  transition: 1s;
}

/* BASIC CLASS */
/* Color */
.colorPrimary {
  color: var(--primaryColor);
}

.colorSecondary {
  color: var(--secondaryColor);
}

.colorWhite {
  color: white;
}

.bgColorPrimary {
  background-color: var(--primaryColor);
}

.bgColorSecondary {
  background-color: var(--secondaryColor);
}

.bgColorOpaque {
  background-color: var(--primaryColorOpaque);
}

.bgColorWhite {
  background-color: white;
}

/* Font */
strong,
.txtBold {
  font-weight: 900;
  color: var(--primaryColor);
}

* {
  font-family: var(--primaryFont);
  color: var(--secondaryColor);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

h1 {
  font-size: var(--l);
}

h1::before {
  content: "<";
}

h1::after {
  content: ">";
}

h2 {
  font-size: var(--m);
}

h2::before {
  content: "/";
}

h3 {
  font-size: var(--s);
}

/* SPACING */
/* Vertical Margin */
.xs {
  margin-bottom: var(--xs);
}

.s {
  margin-bottom: var(--s);
}

.m {
  margin-bottom: var(--m);
}

.l {
  margin-bottom: var(--l);
}

.xl {
  margin-bottom: var(--xl);
}

.xxl {
  margin-bottom: var(--xxl);
}

.xxxl {
  margin-bottom: var(--xxxl);
}

/* POSITIONS */
.container {
  width: 62.5rem;
  margin-inline: auto;
}

.container p {
  padding-left: 12.5rem;
}

/* SCROLL */

/* others */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* COMPONENTS */
/* Button */
.buttonPrimary {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 1rem calc(1rem * 1.33);
  text-align: center;
  font-weight: 900;
  transition: 0.2s ease-in-out;
}

.buttonPrimary:hover {
  background-color: white;
  color: var(--primaryColor);
}

/* tornaSu */
.tornaSu {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 3rem;
  z-index: 1;
  transition: all 0.5s;
}

.tornaSuHide {
  opacity: 0;
}

.tornaSuShow {
  opacity: 1;
}

/* STYLE */

/* HEADER */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(asset/sean-pollock-PhYq704ffdA-unsplashResize.jpg);
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #f79543, #9e4e4d);
  opacity: 0.9;
}
header::after {
  z-index: 1;
}

header > * {
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--m);
  padding-inline: var(--l);
}
nav .logoAllspark {
  padding-bottom: 2rem;
}
nav ul {
  width: 62.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul li {
  transition: all 0.5s;
}
nav ul li:hover {
  opacity: 0.5;
}
nav .modeContact {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav svg {
  fill: #fff;
}
nav button {
  background-color: rgba(255, 255, 255, 0.096);
  border: none;
  padding: .5rem;
  border-radius: 10%;
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 999;
}
header .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--m);
}
header h1 {
  color: white;
}

/* MAIN */
main > div {
  margin-block: var(--xxxl);
}
main div h2 {
  margin-bottom: var(--xl);
}
main .bgColorOpaque {
  padding-block: var(--xl);
}

/* cosaFacciamo */

/* accordionCosaFacciamo */
.accordionContainer {
  margin-top: var(--xxl);
}
button.accordion {
  background-color: var(--primaryColorOpaque);
  color: var(--primaryColor);
  font-size: var(--xs);
  cursor: pointer;
  padding: var(--xs);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-bottom: var(--xs);
}

button.accordion.active,
button.accordion:hover {
  background-color: var(--primaryColor);
  color: white;
}

button.accordion:after {
  content: ">";
  font-size: var(--xs);
  color: var(--primaryColor);
  float: right;
  margin-left: 5px;
  transform: rotate(90deg);
}
button.accordion:hover:after {
  content: ">";
  color: white;
}

button.accordion.active:after {
  content: ">";
  color: white;
  transform: rotate(-90deg);
}
button.accordion:before {
  display: inline-block;
  width: var(--s);
  height: var(--s);
  margin-right: var(--xs);
  content: "";
  background-size: 100%;
  transform: translate(0, 4px);
}
.accordionContainer .accordion:nth-child(1)::before {
  background: url("asset/1F6CD.svg") no-repeat 0 0;
}
.accordionContainer .accordion:nth-child(3)::before {
  background: url("asset/1F4B3.svg") no-repeat 0 0;
}
.accordionContainer .accordion:nth-child(5)::before {
  background: url("asset/1F680.svg") no-repeat 0 0;
}

div.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
  margin-block: var(--xs) var(--s);
}

/* cosaOffriamo */

/* sliderCosaOffriamo */
.swiper {
  width: 100%;
}
.swiper-slide {
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  width: auto;
  display: flex;
  align-items: center;
}
.swiper-wrapper .icon {
  width: var(--xl);
  height: var(--xl);
  margin-right: var(--xs);
  transform: translate(0, 4px);
}
.swiper-wrapper .icon10 {
  background: url("asset/1F9D1-200D-1F527.svg") no-repeat 0 0;
}
.swiper-wrapper .icon9 {
  background: url("asset/2699.svg") no-repeat 0 0;
}
.swiper-wrapper .icon8 {
  background: url("asset/1F6E1.svg") no-repeat 0 0;
}
.swiper-wrapper .icon7 {
  background: url("asset/2601.svg") no-repeat 0 0;
}
.swiper-wrapper .icon6 {
  background: url("asset/2705.svg") no-repeat 0 0;
}
.swiper-wrapper .icon5 {
  background: url("asset/1F4CD.svg") no-repeat 0 0;
}
.swiper-wrapper .icon4 {
  background: url("asset/1F6DF.svg") no-repeat 0 0;
}
.swiper-wrapper .icon3 {
  background: url("asset/1F4AA.svg") no-repeat 0 0;
}
.swiper-wrapper .icon2 {
  background: url("asset/1F4CA.svg") no-repeat 0 0;
}
.swiper-wrapper .icon1 {
  background: url("asset/1F91D.svg") no-repeat 0 0;
}
/* cegidPartner */

/* partner */
.loghiPartner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

/* team */
.ilTeam img {
  margin-top: var(--xxl);
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}

/* storieDiSuccecco */
.storie .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.storie .swiper-slide img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}
.storie .swiper-slide svg {
  width: 10rem;
  height: 5rem;
}
.storie .swiper-slide svg * {
  fill: #f79543;
}

/* blog */
.newsContainer {
  display: flex;
  gap: 3rem;
}
.news h3 {
  color: var(--primaryColor);
  margin-top: var(--s);
}
.news p {
  padding: 0;
}
.news .details {
  display: flex;
  justify-content: space-between;
  margin-top: var(--s);
}
.news .details > * {
  max-width: 3rem;
}
.news .time {
  display: flex;
  align-items: center;
}
.blogSlider {
  display: none;
}

/* FOOTER */
footer {
  height: 100vh;
  padding-block: var(--xxxl);
}
.footerTitle {
  display: flex;
  align-items: center;
}
footer h2 {
  font-size: var(--l);
}

/* Dark mode */
body.dark {
  background-color: rgb(31, 26, 23);
  --primaryColor: #f79543;
  --secondaryColor: #fff;
  --primaryColorOpaque: #302319;
}

header.dark::after {
  background-image: linear-gradient(120deg, #f79543, #4b1412);
}
.tornaSu.dark {
  background-image: url(asset/1F51DLight.svg);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  body {
    /* Space */
    --xs: 1rem;
    --s: 1.5rem;
    --m: 2rem;
    --l: 3rem;
    --xl: 5rem;
    --xxl: 6rem;
    --xxxl: 15rem;
  }
  /* Header */
  header nav .navLink,
  header nav a {
    display: none;
  }
  header nav img {
    max-width: 40vw;
  }

  .container {
    width: 90%;
    padding-inline: 0.5rem;
  }

  .container p {
    padding-left: 0;
  }

  /* News */
  .blog {
    display: none;
  }
  .blogSlider {
    display: block;
  }

  /* Torna Su */
  .tornaSu {
    display: none;
  }
}
