/* SECTIONS */

/* Opening */
.opening {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

/* Opening/header */
header {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: auto;
}
header .logo img {
  position: absolute;
  z-index: 9;
  width: 10rem;
}

/* Opening/hero */
.hero::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.hero img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.hero h1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-inline: 1rem;
}
.hero a {
  position: absolute;
  bottom: 8%;
  left: 0;
  padding-inline: 1rem;
}

/* MAIN */

/* cosaFacciamo */

/* accordionCosaFacciamo */
/* accordionCosaFacciamo/slider */
.accordionCosaFacciamo .slider,
.cosaFacciamoSlider {
  height: 100%;
}
.accordionCosaFacciamo .swiper-wrapper {
  height: 80%;
}
.accordionCosaFacciamo .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
  display: inline-block;
  border-radius: 50%;
  background: var(
    --swiper-pagination-bullet-inactive-color,
    var(--primaryColor)
  );
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 80px;
}

/* cosaOffriamo */
.cosaOffriamo ul {
  list-style: none;
  margin: 0;
}
.cosaOffriamo ul li {
  margin-bottom: 1rem;
}
.cosaOffriamo ul li::before {
  content: "> ";
}

/* cegidPartner */
.cegidPartner {
  position: relative;
}
.cegidPartner .pageContainer {
  position: absolute;
  z-index: 9;
}
.handShake {
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  z-index: 0;
}

/* partners */
/* partners/partnersSlider */
.partners .slider {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.partners h2 {
  margin-inline: 1rem;
}
.partners .swiper {
  margin: 0;
}
.partners .swiper-slide:first-child {
  margin-left: 1rem;
}

/* team */
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team img {
  height: 25vh;
  object-fit: cover;
}

/* storieDiSuccecco */

/* blog */

/* FOOTER */
footer {
  padding-inline: 1rem;
  padding-top: 2rem;
  min-height: 100vh;
}
footer * {
  color: white;
}
footer h2 {
  font-size: 2.5rem;
}
footer h2::before {
  content: "<";
}
footer h2::after {
  content: ">";
}
footer .richieste > * {
  margin-top: 2rem;
}
