/* VARIABLES */
:root {
  /* Color */
  --primaryColor: #f79543;
  --secondaryColor: #757575;
  --primaryColorOpaque: #fff9f4;

  /* Font */
  --titleFont: "Roboto Mono", monospace;
  --primaryFont: "Roboto", sans-serif;

  /* Space */
  --xs: 1rem;
  --s: 1.5rem;
  --m: 2rem;
  --l: 3rem;
  --xl: 5rem;
  --xxl: 6rem;
  --xxxl: 15rem;
}

/* BASIC CLASS */
/* Color */
.colorPrimary {
  color: var(--primaryColor);
}
.colorSecondary {
  color: var(--secondaryColor);
}
.colorWhite {
  color: white;
}
.bgColorPrimary {
  background-color: var(--primaryColor);
}
.bgColorSecondary {
  background-color: var(--secondaryColor);
}
.bgColorOpaque {
  background-color: var(--primaryColorOpaque);
}
.bgColorWhite {
  background-color: white;
}

/* Font */
strong, .txtBold {
  font-weight: 900;
  color: var(--primaryColor);
}
* {
  font-family: var(--primaryFont);
  color: var(--secondaryColor);
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}
h1 {
  font-size: var(--l);
}
h1::before {
  content: "<";
}
h1::after {
  content: ">";
}
h2 {
  font-size: var(--m);
}
h2::before {
  content: "/";
}
h3 {
  font-size: var(--s);
}

/* SPACING */
/* Vertical Margin */
.xs {
  margin-bottom: var(--xs);
}
.s {
  margin-bottom: var(--s);
}
.m {
  margin-bottom: var(--m);
}
.l {
  margin-bottom: var(--l);
}
.xl {
  margin-bottom: var(--xl);
}
.xxl {
  margin-bottom: var(--xxl);
}
.xxxl {
  margin-bottom: var(--xxxl);
}

/* POSITIONS */
.container {
  width: 62.5rem;
  margin-inline: auto;
}
.container p {
  padding-left: 12.5rem;
}

/* SCROLL */

/* others */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

